.navbar {
    display: flex;
    align-items: center;
    height: 5rem;
    justify-content: space-around;
    color: bisque;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 1rem;
}

.navbar ul li:hover {
    border-bottom: 2px solid beige;
}